<mat-toolbar color="primary" class="mat-elevation-z6">
  <span><mat-icon>eco</mat-icon>ALA Carte</span>

    <div class="spacer"></div>

  <a mat-button routerLink="createTrade">Buy/Sell Trade</a>
  <a mat-button>Transaction History</a>
  <a mat-button routerLink="getHolding">Holdings</a>
  <a mat-raised-button color="accent" routerLink="login">Login</a>
</mat-toolbar>

